<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>{include file = "common/header.tpl"}
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>ark1ee's</b> blog</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">登录后台</p>

    <form action="<!--{ACTION_URL}-->/user/email_captcha_verify" method="post">
    
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="用户名(电子邮箱)" name="username" id="username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="验证码" name="code" id="code">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <button　type="submit" id='btn'class="btn btn-success btn-block btn-flat" onclick="settime(this)">获取手机验证码</button>
    
      </div>
      <div class="row">
        <div class="col-xs-8">

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success btn-block btn-flat" onclick="login()">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
 

    <a href="#" class="green-font">忘记密码</a>

    <a href="<!--{ACTION_URL}-->/index/register" class="green-font">用户注册</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{include file = "common/footer.tpl"}

<script src="<!--{PUBLIC_PATH}-->/plugins/iCheck/icheck.min.js"></script>
<script>
var total = 5
var countdown=5; 
 
/* function login(){
	$.post(action_url + '/user/dbank_verify', {
		 username : $('#username').val(),
		 code : $('#code').val()
	}, function(data, status) { 
			 toastr.success(data);
	});
} */
function settime(obj) { 

			if(countdown == total){
				
				$.post(action_url + '/user/email_captcha', {
			 		 username : $('#username').val()
			 	}, function(data, status) {
			 		
			 		     toastr.success(data);
			 			 toastr.success('获取验证码成功');
			 	});
			}
    if (countdown == 0) { 
        obj.removeAttribute("disabled");    
        $('#btn').html("获取手机验证码");
        countdown = 5; 
        return;
        
    } else { 
        obj.setAttribute("disabled", true); 
        $('#btn').html("重新发送("+countdown+")" ); 
        countdown--; 
    } 
			setTimeout(function() { 
			    settime(obj) }
			    ,1000) 
}

  $(function () {


    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });

</script>
</body>
</html>
