<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
{include file = "common/header.tpl"}
</head>
<body class="hold-transition skin-green-light layout-top-nav">
<div class="wrapper">

  <header class="main-header">
   {include file = 'common/sidebar_horizontal.tpl'}
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->


      <!-- Main content -->
      <section class="content">
    <div class='row'>
 <div class="col-md-9">
 
 <div class="box box-success post-box">
            <div class="box-header with-border">
              <h2 class="box-title">
              <a itemtype="url" title="Kali  Phisher">{$post['title']}</a></h2>
              </div>
             <!-- /.box-header -->
            <div class="box-body">
 <div class="post type-post appeared">
 

										<div class="post-info">

											<span class="author">作者: <a itemprop="name" href="#"
												rel="author">ark1ee</a></span>

											<!-- 分类页面category不显示 -->

											<span class="category ">分类: <a href=""></a> <span class="date green-font">{$post['category_name']}</span>
											</span> 时间:<span class="date green-font">{$post['pubtime']}</span> <span
												class="date">浏览: <span class="date green-font">{$post['view']} </span>次 </span>

										</div>


 <!-- /post details -->         
<!-- /post details --> 
<div class="post-entry">
{$post['content']}
</div>
				</div>
				<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2118691"></script>
<!-- UY END -->
				</div>
				

 	 </div>
 	 
 </div>
 
 
  <div class="col-md-3">
        <button class='btn btn-success' onclick='javascript:history.back(-1);'>返回</button> 
 </div>
 
 </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
      </div>
      <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{include file = "common/footer.tpl"}
</body>
</html>
