<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--  用IE使用最新渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  响应式宽度，初始缩放为1 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- 以上三个meta标签必须放在头部 -->

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>API 测试平台</title>

    <!-- Bootstrap -->
    <link href="<!--{PUBLIC_PATH}-->/css/bootstrap.min.css" rel="stylesheet">
    <!-- 如果低于IE9 引入HTML标签支持和媒体查询 -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="<!--{PUBLIC_PATH}-->/pace/pace.js"></script>
    <link href="<!--{PUBLIC_PATH}-->/pace/pace-theme-loading-bar.css" rel="stylesheet" />
     <script type="text/javascript">
 
    
    function getTime()
    {
      var now=new Date();
      var year=now.getYear();
      var month=now.getMonth();
      var day=now.getDate();
      var hours=now.getHours();
      var minutes=now.getMinutes();
      var seconds=now.getSeconds();
      return ""+(1900+year)+"年"+(month+1)+"月"+day+"日 "+hours+":"+minutes+":"+seconds+"";
    }


</script>
    </head>
    <body>
    <h1>分布式漏扫架构API测试</h1>
    <hr>
    <h3>插件API测试</h3>
    <hr>
    <h4>NmapAPI测试</h4>
		 <hr>
    <form class='form-inline' >

    <div class="form-group" display:inline-block>
    <button type="button" class="btn btn-default btn-lrg port_scan" title="Ajax Request">
            <i class="	fa fa-spin fa-refresh"></i>&nbsp; 端口扫描
    </button>

        <input class="form-control" id="port_scan_iplist" placeholder="IP List" type="text">
        <input class="form-control" id="port_scan_black_list" placeholder="Black List" type="text">
        <input class="form-control" id="port_scan_agent_id" placeholder="agent ID" type="text">

      </div>

     
<hr>

    <div class="form-group" display:inline-block>
    
    <button type="button" class="btn btn-default btn-lrg cron_plugins" title="Ajax Request">
            <i class="	fa fa-spin fa-refresh"></i>&nbsp; 计划扫描任务
    </button>
        <input class="form-control" id="cron_plugins_iplist" placeholder="IP List" type="text">
        <input class="form-control" id="cron_plugins_list" placeholder="Black List" type="text">
        <input class="form-control" id="cron_plugins_agent_id" placeholder="agent ID" type="text">
        <input class="form-control" id="cron_plugins_cron" placeholder="CRON表达式" type="text">
   </div>
   
    <hr>
    <div class="form-group" display:inline-block>

    <button type="button" class="btn btn-default btn-lrg unregister_cron_plugins" title="Ajax Request">
            <i class="	fa fa-spin fa-refresh"></i>&nbsp; 注销CRON任务
    </button>
    
    <input class="form-control" id="unregister_cron_plugins_task_id" placeholder="任务 ID" type="text">
   </div>
    <hr>
      </form>
    <div class="ajax-content">
    </div>
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 改成百度的资源-->
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="<!--{PUBLIC_PATH}-->/js/bootstrap.min.js"></script>
    <script type="text/javascript">

   // To make Pace works on Ajax calls
    $(document).ajaxStart(function() { Pace.restart(); });
////////////////////////////////////////////////////////////////////////

    $('.port_scan').click(function(){
　
        $.ajax({url: '<!--{ACTION_URL}-->/plugin_api/port_scan?agent_id='+$('#port_scan_agent_id').val()+'&ip_list='+$('#port_scan_iplist').val()	, success: function(result){
            $('.ajax-content').html('<h4>返回结果</h4><hr>'+getTime()+'<hr>'+result);
        }});
     });
     
    $('.cron_plugins').click(function(){

        $.ajax({url: '<!--{ACTION_URL}-->/plugin_api/cron_plugins?agent_id='
        		+$('#cron_plugins_agent_id').val()+'&ip_list='+$('#cron_plugins_iplist').val()
        		+'&cron='+$('#cron_plugins_cron').val(), 
        		success: function(result){
      
            $('.ajax-content').html('<h4>返回结果</h4><hr>'+getTime()+'<hr>'+result);
        }});
     });
     
    $('.unregister_cron_plugins').click(function(){
　
        $.ajax({url: '<!--{ACTION_URL}-->/plugin_api/unregister_cron_plugins?task_id='+$('#unregister_cron_plugins_task_id').val()	, success: function(result){
            $('.ajax-content').html('<h4>返回结果</h4><hr>'+getTime()+'<hr>'+result);
        }});
     });
     
</script>
  </body>
</html>