* { margin:0; padding:0; }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#menu {
	position: absolute;
	top: -16px;
	left: -20px;
	width: 250px;
	padding-top: 2em;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-35deg) translate(-92px, 22px);
	/* Safari 3.1+, Chrome */
	-moz-transform: rotate(-35deg) translate(-92px, 22px);
	/* Firefox 3.5-15 */	
	-ms-transform: rotate(-35deg) translate(-92px, 22px); /* IE9+ */
	-o-transform: rotate(-35deg) translate(-92px, 22px);
	/* Opera 10.5-12.00 */
	transform: rotate(-35deg) translate(-92px, 22px);
	/* Firefox 16+, Opera 12.50+ */
}
#menu {
  background-color: #babdb6;
  filter:alpha(opacity=50);  
  -moz-opacity:0.5;  
  -khtml-opacity: 0.5;  
  opacity: 0.5;  
  text-align: center;
}

#menu a {
  color: #2e3436;
  display: inline-block;
  padding: .5em 1em;
  text-shadow: 0 1px 0 #EDEDED;
  text-decoration: none;
}
#menu a {
    display: block;
    padding: .2em 0;
}

#menu a:hover {
  background: rgb(220, 220, 220);
}

#menu .home-link {
  margin-right: 1em;
}
body
{
	background-color:#eeeeec;
  max-width: 600px;
  margin: 0 auto; 

}
h1
{
	color:orange;
	text-align:center;
}
h5{
	color:#75507b;
	text-align:left;
	font-size: 14px;
	margin:10px 10px 10px 10px;
}
h6{
	color:#ad7fa8;
	text-align:left;
	font-size: 12px;
	margin:10px 10px 10px 10px;
}
pre
{
	border-style:solid;
	width: 98%;
	border: 1px solid #d4d4d4;
	background-color: #f6f4f0;
	color: #444;
	padding: 5px;
	margin: 10px;
}
.content{
	margin-top:60px;
}
.content ul li{
	padding: 0 0 0 1.5em;
	margin: 10 0 1 1;
	color:#2e3436;
	list-style-type:circle;
	background-position: left .5em;
}

p.test_justify {text-align:justify;}
p.overline {text-decoration:overline;}
p.line-through {text-decoration:line-through;}
p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}
p {text-indent:10px;}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  filter:alpha(opacity=50);  
  -moz-opacity:0.5;  
  -khtml-opacity: 0.5;  
  opacity: 0.5;  
  text-align: center;
}
.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

 